Repository zenlint-dev/zenlint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{js,tsx,json,md}": ["prettier --write"]
}

refactor(workflows): swap setup-node and setup-pnpm so pnpm exists before caching is applied
  .github/workflows/format.yml
  .github/workflows/knip.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/type-check.yml
Due: none

fix(workflows): unify pnpm version from package.json
  .github/workflows/format.yml
  .github/workflows/knip.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/type-check.yml
Due: none

refactor(tsup): simplify build script to use tsup.config.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: eslint --fix, prettier --write

refactor(npmignore): use package.json files field instead of .npmignore
  .npmignore
  package.json
Due: prettier --write

refactor(prettierignore): exclude files that shouldn't be formatted
  .prettierignore
Due: none

chore(gitignore): ignore .vscode/
  .gitignore
Due: none

chore(tasks): add automation for core scripts
  .vscode/tasks.json
Due: prettier --write

chore(debug): update dev/prod launch settings
  .vscode/launch.json
Due: prettier --write

chore(test): migrate testing setup to vitest
  eslint.config.js
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

chore(test): expand type-checking
  eslint.config.js
  tsconfig.test.json
Due: prettier --write

chore(tsup): minify build
  tsup.config.ts
Due: eslint --fix, prettier --write
